header 
{
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05); 
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100; 
}

.activo{
        color: black;
        font-weight: bold;
    }

.header-container 
{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1400px; 
    margin: 0 auto;    
    padding: 10px 40px; 
    height: 80px;      
    
}
a 
{ 
    color: inherit;
    text-decoration: none; 
}

/* LOGO */
.container_img_header 
{
    flex: 1; 
    display: flex;
    justify-content: flex-start;
}

.logo-img 
{
    height: 8vh; 
    width: auto;
    max-height: 100px; 
}

/* MENÚ */
.nav_container_header 
{
    flex: 2; 
    display: flex;
    justify-content: center;
}

.nav_container_header ul 
{
    display: flex;
    list-style: none;
    gap: 4vh; 
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav_container_header ul li 
{
    font-size: 16px;
    font-weight: 500;
    color: #4a5568; 
    cursor: pointer;
    transition: color 0.2s ease;
}

.nav_container_header ul li:hover 
{
    color: #eb5a00;
}

.right-section 
{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

/* IDIOMAS */
.idiomas_header ul 
{
    display: flex;
    list-style: none;
    gap: 15px; 
    align-items: center;
    margin: 0;
    padding: 0;
}

.idiomas_header img 
{
    width: 30px; 
    height: auto; 
    cursor: pointer; 
    transition: opacity 0.2s;
}

.idiomas_header img:hover 
{
    opacity: 0.8;
}

.burger-menu 
{
    display: none;
    cursor: pointer;
    background-color: black; 
    border-radius: 50%;
    padding: 10px;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
}
.div_header
{
    margin-top: 12vh;
}

/* RESPONSIVE */

@media (max-width: 900px) 
{
    .header-container 
    {
        padding: 10px 20px; 
    }

    
    .burger-menu 
    {
        display: flex; 
        width: 60%;
        height: 60%;

    }

    .nav_container_header 
    {
        position: fixed;
        top: 80px; 
        left: 0;
        width: 100%;
        background-color: white;
        flex-direction: column;
        padding: 20px 0;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        transform: translateY(-200%); 
        transition: transform 0.3s ease-in-out;
        z-index: 99;
    }

    .nav_container_header.active 
    {
        transform: translateY(0);
    }

    .nav_container_header ul 
    {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .nav_container_header ul li 
    {
        font-size: 18px;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #f0f0f0;
    }

    .logo-img 
    {
        height: 50px;
    }

    .right-section 
    {
        flex: 1; 
        justify-content: flex-end;
    }
}