.preguntasDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  margin: auto;
}

.accordion {
  background-color: #f0ccdf;
  font-size: 18px;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active, .accordion:hover {
  background-color: #eeacd0;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.3s ease;
}

.panel.show {
  max-height: 300px;
  padding: 18px;
}

.panel p {
  white-space: pre-line;
  text-align: justify;
  margin: 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}

.arrow {
  transition: transform 0.3s ease;
  font-size: 16px;
}


.arrow.rotate {
  transform: rotate(180deg);
}