.Footer_ 
{
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: white;
}


/*RESPONSIVE*/

@media (max-width: 768px) 
{ 
        .Footer 
    { 
        height: auto;  
        padding: 15px 10px; 
        text-align: center; 
        
    } 
}
