#footer
{
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    height: 10vh;
    background-color: white;
}

@media(max-width: 1280px)
{
    #footer
    {
        font-size: 14px;
    }    
}
