/* Font face para DM Sans de Google Fonts*/
@font-face {
    font-family: 'DM Sans';
    src: url(../DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face
{
    font-family: 'Chewy';
    src: url(../Chewy-Regular.ttf);
}

/* Font family para todos los textos*/
*
{
    font-family: 'DM Sans';
}

/* Margen 0 para el body */
body
{
    margin: 0;
    background-color: #f5f5f5;
}
