/* ===== CONTENEDOR BASE ===== */
.calendar {
  --fc-border-color: #e5e7eb;
  --fc-page-bg-color: #f9fafb;

  --fc-button-bg-color: #2563eb;
  --fc-button-border-color: #2563eb;
  --fc-button-hover-bg-color: #1d4ed8;
  --fc-button-active-bg-color: #1e40af;
  --fc-button-text-color: white;

  --fc-event-bg-color: #22c55e;
  --fc-event-border-color: #16a34a;
  --fc-event-text-color: white;

  --fc-today-bg-color: rgba(47, 107, 235, 0.08);

  font-family: "Inter", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo base del calendario */
.calendar .fc {
  background: rgb(252, 245, 238);
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.calendar-large {
  --fc-width: 50vw;
  --fc-padding: 12px;

  --fc-button-radius: 15px;
  --fc-button-padding: 6px 12px;

  --fc-title-size: 2.4rem;
  --fc-event-font-size: 0.85rem;
}

/* Estilo de calendario GRANDE */
.calendar-large .fc {
  width: var(--fc-width);
  padding: var(--fc-padding);
}

.calendar-large .fc-toolbar-title {
  font-size: var(--fc-title-size);
  font-weight: 600;
}

.calendar-large .fc-button {
  border-radius: var(--fc-button-radius);
  padding: var(--fc-button-padding);
}

.calendar-large .fc-event {
  border-radius: 6px;
  font-size: var(--fc-event-font-size);
}
